<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>NFT Gallery</title>
  </head>
  <body>
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/nftmarketplace">NFT Marketplace</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/nftmarketplace">Home</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Marketplace
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              
            <li><a class="dropdown-item" href="#">About Us</a></li>
            <li><hr class="dropdown-divider"><strong>Nifty Market</strong></li>
            <li><a class="dropdown-item" href="/nftmarketplace/gallery">View All Nifty's</a></li>
            <li><a class="dropdown-item" href="/nftmarketplace/new">Create A NFT</a></li>
            <li><a class="dropdown-item" href="#">Contracts</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://opensea.io/">OpenSea</a>
        </li>
      </ul>
      <form class="d-flex ml-auto">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>
    <h1 class="display-1 text-center">NFT Asset Gallery</h1>
      <div class="row pt-5">
      <div class="col">
    {{#each nfts}}
        <div class="card" style="width: 18rem;">
          <img src={{this.image_url}} class="card-img-top" alt="No Image" />
          <div class="card-body">
            <h5 class="card-title">{{this.name}}</h5>
              <div class="row">
            <a href="/nftmarketplace/{{this.id}}" class="btn btn-primary">View This NFT</a>
            <a href={{this.permalink}}  class="btn btn-warning">View On Opensea</a>
            </div>
          </div>
        </div>
    {{/each}}
     </div>
    </div>
  </body>
</html>